body {
	font: 80% arial, helvetica, sans-serif;
	background: #eee;
	margin: 0;
}

h1,h2 {
	margin: 0;
}

#header {
	background: #ccc url(../images/library_logo.jpg) no-repeat;
	height: 165px;
}

#close {
	position: relative;
	background: #ccc url(../images/library_close.jpg) no-repeat;
	height: 40px;
}

#lang {
	background: #ccc;
	height: 15px;
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
}

#langen {
	background: #ccc;
	height: 15px;
	text-align: left;
	position: absolute;
	top: 0;
	left: 65;
}

#langen a:hover {
	background: #695A3B;
}

#langen a:visited {
	color: black;
}

#langru {
	background: #ccc;
	height: 15px;
	text-align: left;
	position: absolute;
	top: 0;
	left: 110;
}

#langru a:hover {
	background: #695A3B;
}

#langru a:visited {
	color: black;
}

#user {
	position: relative;
	background: #ccc;
	height: 15px;
	text-align: right;
	border-bottom: 1px solid black;
}

#pagelinks {
	text-align: center;
	margin-top: 10px;
	padding: 0 1em 1em 1em;
	width: 400px;
}

#navigation {
	position: absolute;
	top: 180px;
	left: 0;
	width: 150px;
	color: white;
	margin-top: 10px;
	border-right: 1px solid black;
}

#navigation ul {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}

#navigation ul a {
	color: black;
	text-decoration: none;
	display: block;
	background: #8a7442;
	padding: 0 0.5em;
	margin: 0 1em 1px 1em;
}

#navigation a:visited {
	color: black;
}

#navigation a:hover {
	background: #695A3B;
}

#content {
	position: relative;
	margin-left: 230px;
	margin-top: 30px;
	min-height: 400px;
}

#content ul {
	padding: 0 0.5em;
	margin: 0 1em 1px 1em;
	list-style: none;
}

#content ul a {
	color: black;
	text-decoration: none;
	display: block;
	background: #8a7442;
}

#content a {
	color: black;
	padding: 0 0.5em;
	margin: 0 1em 1px 1em;
}

#content  a:visited {
	color: black;
}

#content  a:hover {
	background: #695A3B;
}

#container {
	position: relative;
	width: 690px; /* real width */
	border: #fff;
	border-width: 0 3px;
	margin: auto;
	background: #ccc;
	border-left: 11px solid #ddd;
	border-right: 11px solid #ddd;
}

fieldset {
	padding: 0 1em 1em 1em;
	width: 180px;
}

legend {
	padding: 1em;
}
}